html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    background: #f0eee1;
    color: #454551;
    font-family: "Trade Gothic W01 Roman", serif;
    font-size: 19px;
    height: 100%;
    line-height: 1.5;
    min-width: 700px;
    overflow: auto;
    -webkit-font-smoothing: antialiased
}

body {
    font-size: 100%
}

h1, h2, h3, .guider h1 {
    color: #888a7b;
    font-family: "Clarendon Text W01 Bold", serif;
    font-weight: normal;
    margin: 0
}

h1, .h1 {
    color: #474843;
    font-size: 1.89474em;
    line-height: 1.1;
    margin-bottom: 0.66667em
}

h2, .guider h1, .h2 {
    font-size: 0.94737em
}

h3 {
    font-family: "Trade Gothic W01 Roman", serif;
    font-size: 0.94737em;
    margin-bottom: 0.26316em
}

h4 {
    font-weight: normal;
    margin: 0 0 0.52632em
}


::selection {
    background: rgba(69, 69, 81, 0.5);
    color: white
}

::-moz-selection {
    background: rgba(69, 69, 81, 0.5);
    color: white
}

.is-hidden {
    display: none;
    visibility: hidden
}

@media (max-width: 766px){
	.navbar{
	    margin: 0 auto;
	    float:none;
	}
}

.navbar-brand {
	display: block;
	float:left;
	padding:8px 15px;
	font-size:18px;
	line-height:10px;
	min-height:50px
}

.navbar-default .navbar-nav > li {
  cursor: pointer;
  font-weight: bold;
}

.navbar-default .navbar-nav > li.ember-view {
  padding: 11px 11px;
}

.navbar-default .navbar-nav > li.dropdown {
  padding: 11px 0px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alert {
    padding: 15px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border:2px solid #dd8888;
}

.dropdown-display, .navbar-nav>li>a {
    padding-top: 4px;
    padding-bottom: 3px;
}


.dropdown-menu > li {
	font-size: 20px;
}

.tariff-contact {
	padding: 5px 20px;
	border-radius: 5px;
}

/*
 * Blog posts
 */
 
.blog-main {
  font-size: 18px;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.blog-post {
  margin-bottom: 60px;
  padding: 7px 20px;
  border-radius: 10px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}

.blog-post-meta {
	margin-bottom: 20px;
	color: #999;
	margin:0 0 10px;
}

.controll {
	display: inline-block;
	margin: 0 auto;
	text-align: right;
	
	width: 100%;
	top: 0;
	padding-right: 30px;
}

.controll > a {
	color: red;
	font-size: 16px;
}

img.presentation-firstpage {
	width: 300px;
}



.new-register-greeting {
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
}